@media (max-width: 768px) {
    .ant-picker-panel-container {
      position: absolute;
      top: -325px;
    }
    .ant-picker-panels {
      display: flex;
      flex-direction: column;
    }
  
    .ant-picker-dropdown .ant-picker-datetime-panel {
      display: flex;
      flex-direction: column;
    }
  }
  